body {
    background-image: url("https://www.celebritycruises.com/blog/content/uploads/2024/11/best-time-to-visit-koh-samui-hero.jpg");
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

.container {
    margin: auto;
    max-width: 80%;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #121212;
}

#save-btn {
    background: beige;
    color: #121212;
}

